@charset "ISO-8859-1";
/*
   Assignment 3
   Author:  Thomas Pfaeffle
   Date:   12/18/2017
   
   Filename: printer.css

   

   This file contains styles used with information on JE printers

*/

@namespace prnt uri (http://jacksonelect.com/printers);


prnt|name 
           {display: block; width: 650px; margin: 15px;
            font-family: Arial, Helvetica, sans-serif; 
            font-size: 14pt; font-weight: bold}

prnt|description
           {display: block; width: 650px; text-align: justify; margin: 15px}

prnt|price 
           {display: block; font-style: italic; margin: 15px}

prnt|specs 
           {display: block; margin: 5px}

prnt|item  
           {display: list-item; list-style-type: square; margin-left: 25px}


/* Place namespace escape styles below */
/* -----styles for internet explorer---- */

prnt\:name 
           {display: block; width: 650px; margin: 15px;
            font-family: Arial, Helvetica, sans-serif; 
            font-size: 14pt; font-weight: bold}

prnt\:description
           {display: block; width: 650px; text-align: justify; margin: 15px}

prnt\:price 
           {display: block; font-style: italic; margin: 15px}

prnt\:specs 
           {display: block; margin: 5px}

prnt\:item  
           {display: list-item; list-style-type: square; margin-left: 25px}

